<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Categorías
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" color="primary" (ionChange)="cambioCategoria($event)">
    <ion-segment-button mode="md" *ngFor="let categoria of categories" [value]="categoria">
      <ion-label text-capitalize>{{categoria}}</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-header>

<ion-content color="dark">
  <app-news [news]="news"></app-news>

  <ion-infinite-scroll threshold="10px" [disabled]="flagScroll" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
